/*
#50514F
#F25F5C
#FFE066
#247BA0
#70C1B3
*/

body {
  font-family: 'Poppins', sans-serif;
  background-color: #50514F;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #70C1B3;
  color: white;
  font-weight: 500;
  font-size: 30px;
}

#submit-button {
  border: none;
  background-color: #F25F5C;
  margin-left: 10px;
  color: white;
}

#input-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#year-search, #gender {
  margin-left: 5px;
}

#year-search, #name-search {
  border-radius: 3px;
  border: none;
  color: black;
}

#gender {
  outline: none;
  border: none;
}
